/* Magic Here */
#header {
    margin-bottom: -112px;
}

.cities-list ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/* Image Gallery */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-gallery figure {
    margin: 0;
    padding: 0;
    width: calc(33.33% - 10px);
    box-sizing: border-box;
    overflow: hidden;
}

.image-gallery img {
    width: 100%;
    height: 200px !important;
    object-fit: cover;
    display: block;
}

.country-gallery .gallery-item img {
    width: 100%;
    height: 250px !important;
    object-fit: cover;
    display: block;
}

.country-gallery .gallery .gallery-item .gallery-icon a {
    width: 100% !important;
}

.country-gallery .gallery-item {
    max-width: 100% !important;
}

.image-gallery figcaption {
    text-align: center;
    margin-top: 5px;
    font-style: italic;
    font-size: 0.9em;
    color: #666;
}


.faqs-accordion {
    border-radius: 4px;
    margin: 20px 0px;
}

.faq-item {
    border: 1px solid rgba(221, 221, 221, 0.38);
    margin-bottom: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.faq-heading {
    background-color: #eceff4;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    color: #000;
    font-size: 20px;
}

.faq-heading.active {
    background-color: #fff;
}

.faq-description {
    padding: 10px 15px;
    display: none;
    background-color: #fff;
    border-radius: 5px;

}

.faq-heading:after {
    content: '\f078';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 15px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    padding-top: 2px;
    border-radius: 100%;
    text-align: center;
}

.faq-heading.active:after {
    content: '\f077';
    background-color: #015bbb;
    color: #fff;
}

/* Cities with Hover Cards */
.cities-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.city-card {
    position: relative;
    width: calc(33.333% - 20px);
    /* margin-bottom: 20px; */
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease;
}

/* .city-card:hover {
    transform: scale(1.01);
} */

.city-card-image {
    position: relative;
    overflow: hidden;
}

.city-card .city-card-image img.citi-image {
    width: 100%;
    height: 248px;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;
}

.city-card:hover .city-card-image img {
    /* opacity: 0.7; */
}

.city-card-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;

    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fa8714;
    border-radius: 50%;
    font-size: 24px;
}

.city-card-icon img {
    width: 40px;
    height: auto;
}

.city-card-icon img:after {
    border: 1px solid #000;
    border-radius: 50%;
    content: "";
}

.city-card-content {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: #fff;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 5;
}

.city-card:hover .city-card-content {
    opacity: 1;
}

.city-card-content h3 {
    margin: 0;
    font-size: 20px;
}

.city-card-content p {
    margin: 10px 0;
    font-size: 16px;
    color: #6A6F78;

}

.read-more-link {
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease;
}

.read-more-link i {
    margin-left: 5px;
    transition: transform 0.3s ease;
    color: #0559a7;
}

/* Animation on hover */
.read-more-link:hover {
    color: #000;
}

.read-more-link:hover i {
    transform: translateX(5px);
}

.city-card-image h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-size: 20px;
    color: #fff;
    z-index: 3;
}

.city-card-image {
    position: relative;
}

.city-card:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, var(--theme-color3), transparent);
    content: "";
    border-radius: 5px;
    z-index: 2;
}

/* Related Blog */
.related-blogs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}

.related-blog-card {
    width: 30%;
    /* Default width for desktop */
    margin: 15px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}

.related-blog-card:hover {
    transform: translateY(-5px);
}

.card-image {
    position: relative;
    overflow: hidden;
    border-bottom: 5px solid var(--theme-color1);
}

.card-image img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--theme-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-decoration: none;
    color: #fff;
}

.related-blog-card:hover .overlay {
    opacity: 1;
}

.overlay-visible {
    position: absolute;
    top: 47%;
    right: 50px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.overlay-visible i {
    font-size: 22px;
    width: 54px;
    height: 54px;
    background-color: var(--theme-color1);
    color: #fff !important;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.related-blog-card:hover .overlay-visible i {
    transform: translateX(100%);
    opacity: 0;
}

.overlay i {
    font-size: 22px;
    width: 54px;
    height: 54px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    padding: 40px 25px;
    display: inline-block;
}

.card-content h3 {
    font-size: 24px !important;
    margin: 0 0 10px;
    font-size: 18px;
}

.card-content p {
    margin: 0;
    color: #666;
}


.testimonial-title span {
    color: #fa8714;
}

.testimonial-title {
    text-align: center;
}

.testimonial-title:before {
    position: absolute;
    left: 45%;
    bottom: -20px;
    width: 60px;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, from(var(--theme-color1)), to(transparent));
    background: linear-gradient(to right, var(--theme-color1), transparent);
    content: "";
}


.institutes-list ul {
    display: flex;
    flex-wrap: wrap;

}

.institutes-list ul li {
    width: 50%;
}

.institutes-list ul li i {
    color: #015CB5;
    margin-right: 10px;
}

/* City related Programs */
.swiper.mySwiper {
    margin-right: -440px;
}

.mySwiper .city-card {
    width: 100%;
    border-radius: 0px;
    border: 0px;
}

.mySwiper .city-card .city-card-image img.citi-image {
    height: 463px;
}

.mySwiper .city-card-icon {
    background-color: #fff;
    height: 50px;
    width: 50px;
    right: 20px;
    top: 20px;
}

.mySwiper .city-card-icon img {
    height: 20px;
    width: 100%;
}

.mySwiper .city-card:hover .city-card-icon {
    background-color: #015cb5 !important;
}

.mySwiper .city-card:hover .city-card-icon img {
    filter: invert(1);
}

.mySwiper .city-card-content {
    border-radius: 0px;
}

.mySwiper .city-card-content h3 {
    color: #fa8714;
}

.download-file a {
    display: inline-block;
    width: 100% !important;
    padding: 20px;
}

.school-gallery .gallery .gallery-icon img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
}

.school-gallery .elementor-image-gallery .gallery-columns-3 .gallery-item {
    max-width: 100%;
}

.escuelas-programs-container .city-card {
    width: calc(25% - 20px);
}

.escuelas-programs-container .city-card .city-card-image img.citi-image {
    height: 520px;
}

.escuelas-programs-container .city-card-icon img {
    filter: invert(1);
}

.escuelas-programs-container .city-card-icon {
    width: 50px;
    height: 50px;
    right: 30px;
    top: 30px;
}

.escuelas-programs-container .city-card-icon img {
    width: 20px;
}

.content-image {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -20px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fa8714;
    border-radius: 50%;
    font-size: 24px;
}

.content-image img {
    width: 20px;
    height: auto;
    filter: invert(1);
}

.escuelas-programs-container .city-card-content {
    padding-top: 40px;
}

.escuelas-programs-container .read-more-link,
.escuelas-programs-container .city-card:hover .city-card-icon {
    display: none;
}

.school-content blockquote {
    background-color: #0d1a36;
    padding: 20px 30px;
    border-left: 5px solid #fa8714;
    color: #fff;
}


/* Media Query */
@media (max-width: 768px) {
    .image-gallery figure {
        width: calc(50% - 10px);
    }

    .image-gallery img {
        height: 150px;
    }

    .city-card {
        width: calc(50% - 10px);
    }

    .related-blog-card {
        width: 45%;
        margin: 15px auto;
    }

    .escuelas-programs-container .city-card {
        width: calc(50% - 20px);
    }

    .escuelas-programs-container .city-card .city-card-image img.citi-image {
        height: 300px;
    }

    .city-card-content p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .navigation-left .elementor-button,
    .navigation-right .elementor-button {
        background-color: #fff !important;
    }

    .navigation-left .elementor-button .elementor-button-icon,
    .navigation-right .elementor-button .elementor-button-icon {
        color: #000 !important;
    }
}

@media (max-width: 480px) {
    .school-gallery .gallery .gallery-icon img {
        height: 120px;
    }

    .escuelas-programs-container .city-card {
        width: calc(100% - 20px);
    }

    .image-gallery figure {
        width: 100%;
    }

    .image-gallery img {
        height: 120px;
    }

    .city-card {
        width: calc(100% - 10px);
    }

    .related-blog-card {
        width: 100%;
        margin: 15px auto;
    }

    .card-content {
        padding: 40px 15px;
    }

    .overlay-visible {
        top: 53%;
        right: 50px;
    }
}